@import '../../components/root.module.css';


.container {
    width: 100%;
    height: 100vh;
    background: var(--blue-900) url(../../assets/home/background-home-mobile.jpg) no-repeat center / cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-mobile);
    gap: 24px;

    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        h1, h2 {
            text-transform: uppercase;
        }
    
        h1 {
            color: var(--white);
        }
    
        h2, p {
            color: var(--blue-300);
        }
    
        p {
            max-width: 327px;
        }
    }

    .explore {
        width: 244px;
        height: 244px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: transparent;
        margin-top: 119px;
        transition: all ease-in-out .5s;

        &:hover {
            background-color: hsla(230, 33%, 7%, 0.15);
            backdrop-filter: blur(10px);
        }
    
        a {
            background-color: var(--white);
            width: 144px;
            height: 144px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: var(--blue-900);
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding-top: 60px;
        background: var(--blue-900) url(../../assets/home/background-home-tablet.jpg) no-repeat center / cover;
    
        .explore {
            width: 272px;
            height: 272px;
            margin-top: 56px;

            a{
                width: 172px;
                height: 172px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        overflow: hidden;
    }

    .container {
        justify-content: space-around;
        flex-direction: row;
        margin: auto;
        background: var(--blue-900) url(../../assets/home/background-home-desktop.jpg) no-repeat center / cover;

        .description {
            text-align: left;
            align-items: flex-start;
            max-width: 540px;

            p {
                max-width: 100%;
            }
        }

        .explore {
            width: 372px;
            height: 372px;

            a {
                width: 272px;
                height: 272px;
            }
        }
    }
}